.background {
  // background-image: url("../../../pics/city-bg.jpg");
  background-size: 50%;
  height: 90%;
  width: 100%;
  margin: 0;
  min-width: 1200px;
  min-height: 600px;
  position: relative;
}

.building {
  width: 20%;
}

#building1 {
  height: 50%;
  background-color: black;
}

#bus {
  z-index: 5;
  position: absolute;
  width: 33%;
  bottom: 21%;
  left: 50%;
}

.car {
  z-index: 5;
  width: 20%;
  height: 20%;
  position: absolute;
}

#car1 {
  left: 25%;
  bottom: 20%;
}

#car2 {
  left: 0%;
  bottom: 17.5%;
}

#traffic-light {
  position: absolute;
  left: 90%;
  bottom: 27.7%;
  width: 10%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .pole {
    background: rgb(255, 239, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 239, 0, 1) 0%,
      rgba(139, 116, 0, 1) 100%
    );
    width: 10%;
    height: 70%;
  }
  #lights {
    width: 35%;
    height: 30%;
    border-radius: 10%;
    background: rgb(57, 57, 56);
    background: linear-gradient(
      90deg,
      rgba(57, 57, 56, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .light {
      width: 50%;
      height: 30%;
      background-color: gray;
      border-radius: 50%;
    }
  }
}

.red-light-on {
  background-color: rgb(252, 59, 59) !important;
  box-shadow: 0 0 7px #ff0a01, 0 0 42px #ff0a01, 0 0 82px #ff0a01,
    0 0 92px #ff0a01, 0 0 102px #ff0a01, 0 0 151px #ff0a01;
}

.green-light-on {
  background-color: rgb(134, 255, 134) !important;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #00ff77,
    0 0 82px #00ff77, 0 0 92px #00ff77, 0 0 102px #00ff77, 0 0 151px #00ff77;
}

#road {
  width: 100%;
  height: 20%;
  background: rgb(99, 99, 99);
  background: linear-gradient(
    180deg,
    rgba(99, 99, 99, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10%;
  transform: rotateX(40deg);
}

.road-line {
  width: 10%;
  height: 7%;
  background-color: rgb(255, 255, 107);
}

#planter {
  width: 100%;
  height: 14%;
  // background-image: url("../../../pics/grass.png");
  position: absolute;
  bottom: 0;
}

#brick-border {
  width: 100%;
  height: 10%;
  background: repeating-linear-gradient(
    90deg,
    grey,
    grey 80px,
    rgb(165, 165, 165) 80px,
    rgb(165, 165, 165) 160px
  );
}
